<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shake Love.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF42EC3A1C0AF07600892726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF42EC4E1C0AF07600892726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF42EC591C0AF07600892726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
