<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CurrentImage</key>
	<integer>-1</integer>
	<key>Favorite</key>
	<array>
		<string>http://cusiki.com/Inspiring/1.jpg</string>
		<string>http://cusiki.com/Inspiring/3.jpg</string>
		<string>http://cusiki.com/Inspiring/2.jpg</string>
	</array>
	<key>IsMute</key>
	<false/>
</dict>
</plist>
